body {
  background-color: #E8E6FF
}
.sparkle {
  font-size: 100px;
  font-family:impact;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
  url(http://www.myspacehippo.com/files/glitterbacks/bg345.gif) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
}
h2 {
  font-size: 40px;
  font-family:impact;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
  url(http://www.myspacehippo.com/files/glitterbacks/bg345.gif) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
}

h3 {
  font-size: 32px;
  color: #fff;
  font-family:impact;
}

 p {
   font-size: 20px;
   color: #fff;
   font-family:impact;
 }
